@charset "UTF-8";


@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    user-select: none;
    
}
body{
    background: url(https://i.pinimg.com/originals/72/11/1c/72111cd5b211565d52cd0e491a353f44.gif) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
         color:white;
}

body.loading .loading-modal {
    display: block
}

.title {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
h1{
    color: white;
}
h1:hover{
    color:white;
}

.dropzone {
    border: 4px dashed #ccc;
    height: 200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    max-width: 50%;
}

.info {
    margin-top: 11%;
}

.dropzone p {
    /*height: 100%;*/
    /*line-height: 200px;*/
    margin: 0%;
    text-align: center;
    width: 100%
}

.input {
    height: 100%;
    left: 0;
    outline: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    color:black;
}

.status {
    border-radius: 5px;
    text-align: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.image-url {
    width: 50%;
}

.dropzone.dropzone-dragging {
    border-color: #000
}

.loading-modal {
    background-color: rgba(255, 255, 255, .8);
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%
}

.loading-table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
    margin-bottom: 15%;
}

.img {
    width: 50%;
}
.gg {
    color: white;
    padding:50px 100px;
    width: 100%;
    height: 10%;
    background: linear-gradient(255,255,255,0.05);
    margin: 20px 0px;
    margin-left:-10%;
    margin-right: 30%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
.title {
    color: white;
    padding:50px 100px;
    width: 50%;
    height: 10%;
    background: linear-gradient(255,255,255,0.05);
    margin: 20px 0px;
    margin-left:20%;
    margin-right: 20%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
.dropzone {
    color: white;
    padding:50px 100px;
    width: 50%;
    height: 10%;
    background: linear-gradient(255,255,255,0.05);
    margin: 20px 0px;
    margin-left:20%;
    margin-right: 20%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}
.gg1{
    color: white;
    padding:50px 100px;
    width: 50%;
    height: 10%;
    background: linear-gradient(255,255,255,0.05);
    margin: 20px 0px;
    margin-left:20%;
    margin-right: 20%;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(4px);
}